---
import Card from '../components/Card.astro'
import Layout from '../components/Layout.astro'
---

<Layout>

    <h1>Servicios que ofrezco</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quos dolorem minus aperiam, ut nihil beatae recusandae? Molestias, fugit iusto!</p>
    
    <Card title=" Trasjera 1", content="Pues ezo"/>
    <Card title=" putis" />
    
    

</Layout>